@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Colors */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-gold: #FFC633;
  --color-red: #FF3333;
  --color-green: #01AB31;
  --color-gray-100: #F2F0F1;
  --color-gray-200: #F0F0F0;
  --color-gray-300: #F0EEED;
  
  /* Typography - Font Families */
  --font-family-headings: 'Poppins', sans-serif;
  --font-family-body: 'Open Sans', sans-serif;
  
  /* Font Sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 36px;
  --font-size-3xl: 40px;
  --font-size-4xl: 48px;

  /* Spacing */
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;

  /* Radius */
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 20px;
  --radius-full: 9999px;
}
