<div class="announcement-bar">
  <div class="container">
    <div class="announcement-bar__content">
      <span class="announcement-bar__text">
        {{ text }}
        {% if link_text and link_url %}
          <a href="{{ link_url }}" class="announcement-bar__link">{{ link_text }}</a>
        {% endif %}
      </span>
      <button class="announcement-bar__close" aria-label="Close announcement">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M15 5L5 15M5 5L15 15" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
    </div>
  </div>
</div>
